* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
.index {
    font-weight: bold;
    font-size: 10rem;
    background: black;
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}